@charset "utf-8";

:root{
    --elbow-connector-border-width:2px;
    --elbow-connector-border-style:solid;
    --elbow-connector-border-color:red;

    --elbow-connector-point-diameter:10px;
    --elbow-connector-point-bg-color:red;
}
.elbow-connector-container{
    position: absolute;
    top:0;height:0;
    width:0;height:0;
    overflow: visible;
}
.elbow-connector *{
    box-sizing: border-box;
}

.elbow-connector{
    
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;

    position: relative;

    --before-border-width: 0 0 0 0;
    --after-border-width: 0 0 0 0;
    --before-flex-basis:50%;

    --ec-top:auto;
    --ec-left:auto;
    --ec-bottom:auto;
    --ec-right:auto;
    --ec-width:auto;
    --ec-height:auto;

    --elbow-connector-border:var(--elbow-connector-border-width) var(--elbow-connector-border-style) var(--elbow-connector-border-color);
}
.elbow-connector[data-ec-from]{
    position: absolute;
    top:var(--ec-top);
    left:var(--ec-left);
    bottom:var(--ec-bottom);
    right:var(--ec-right);
    width:auto;height:auto;
}
.elbow-connector[data-ec-direction="row"]{ flex-direction: row; }
.elbow-connector[data-ec-direction="column"]{ flex-direction: column; }

.elbow-connector > .line-before,
.elbow-connector > .line-after{
    content: 'x';
    display: block;
    flex:1 1 50%;
    border: var(--elbow-connector-border);
    overflow: hidden;
}
.elbow-connector > .line-before{
    content: "";
    flex:1 0 var(--before-flex-basis);
    border-width:var(--before-border-width);
}
.elbow-connector > .line-after{
    content: "";
    flex:0 1 100%; 
    border-width:var(--after-border-width);
}

.debug{
    & .elbow-connector{
        outline: 1px dotted #999;
    }
    & .elbow-connector > .line-before{
        background-color: #aabbcc66;
    }
    & .elbow-connector > .line-after{
        background-color: #ccbbaa66;
    }
    & .elbow-connector::before{
        display: block;
        position: absolute;
        content: attr(data-ec-vertexes);
    }

} 



/* line */

.elbow-connector[data-ec-direction="row"][data-ec-vertexes="0 2"] > .line-before,
.elbow-connector[data-ec-direction="row"][data-ec-vertexes="2 0"] > .line-before{
    --before-border-width:var(--elbow-connector-border-width) var(--elbow-connector-border-width) 0 0 ;
}

.elbow-connector[data-ec-direction="row"][data-ec-vertexes="0 2"] > .line-after,
.elbow-connector[data-ec-direction="row"][data-ec-vertexes="2 0"] > .line-after{
    --after-border-width:0 0 var(--elbow-connector-border-width) 0;
}


.elbow-connector[data-ec-direction="row"][data-ec-vertexes="1 3"] > .line-before,
.elbow-connector[data-ec-direction="row"][data-ec-vertexes="3 1"] > .line-before{
    --before-border-width:0 var(--elbow-connector-border-width) var(--elbow-connector-border-width) 0 ;
}

.elbow-connector[data-ec-direction="row"][data-ec-vertexes="1 3"] > .line-after,
.elbow-connector[data-ec-direction="row"][data-ec-vertexes="3 1"] > .line-after{
    --after-border-width:var(--elbow-connector-border-width) 0 0 0;
}


.elbow-connector[data-ec-direction="column"][data-ec-vertexes="0 2"] > .line-before,
.elbow-connector[data-ec-direction="column"][data-ec-vertexes="2 0"] > .line-before{
    --before-border-width:0 0 var(--elbow-connector-border-width) var(--elbow-connector-border-width);
}

.elbow-connector[data-ec-direction="column"][data-ec-vertexes="0 2"] > .line-after,
.elbow-connector[data-ec-direction="column"][data-ec-vertexes="2 0"] > .line-after{
    --after-border-width:0 var(--elbow-connector-border-width) 0 0;
}


.elbow-connector[data-ec-direction="column"][data-ec-vertexes="1 3"] > .line-before,
.elbow-connector[data-ec-direction="column"][data-ec-vertexes="3 1"] > .line-before{
    --before-border-width:0 var(--elbow-connector-border-width) var(--elbow-connector-border-width) 0 ;
}

.elbow-connector[data-ec-direction="column"][data-ec-vertexes="1 3"] > .line-after,
.elbow-connector[data-ec-direction="column"][data-ec-vertexes="3 1"] > .line-after{
    --after-border-width:0 0 0 var(--elbow-connector-border-width);
}




/* points */
.elbow-connector .point{
    position: absolute;
    top:auto;left:auto;right:auto;bottom:auto;
    --point-gap:calc( var(--elbow-connector-point-diameter) / 2 );
    --point-gap2:calc( (var(--elbow-connector-point-diameter) - var(--elbow-connector-border-width)) / 2 );
}
.elbow-connector[data-ec-direction="row"] .point{
    --tanslate-top:calc(-1 * var(--point-gap2));
    --tanslate-left:calc(-1 * var(--point-gap));
    --tanslate-bottom:var(--point-gap2);
    --tanslate-right:var(--point-gap);
}
.elbow-connector[data-ec-direction="column"] .point{
    --tanslate-top:calc(-1 * var(--point-gap));
    --tanslate-left:calc(-1 * var(--point-gap2));
    --tanslate-bottom:var(--point-gap);
    --tanslate-right:var(--point-gap2);
}

.elbow-connector .point{
    width:var(--elbow-connector-border-width);
    height:var(--elbow-connector-border-width);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.elbow-connector[data-ec-vertexes^="0"] .point-before ,
.elbow-connector[data-ec-vertexes$="0"] .point-after
{ left:0;top:0; }

.elbow-connector[data-ec-vertexes^="1"] .point-before ,
.elbow-connector[data-ec-vertexes$="1"] .point-after
{ right:0;top:0; }

.elbow-connector[data-ec-vertexes^="2"] .point-before ,
.elbow-connector[data-ec-vertexes$="2"] .point-after
{ right:0;bottom:0; }

.elbow-connector[data-ec-vertexes^="3"] .point-before ,
.elbow-connector[data-ec-vertexes$="3"] .point-after
{ left:0;bottom:0; }


.elbow-connector .point-shape{
    flex:1 0 100%;
    min-width:var(--elbow-connector-point-diameter);
    min-height:var(--elbow-connector-point-diameter);
    display: none;
}
.elbow-connector .point-shape.point-shape-circle{
    display: block;
    border-radius: 99999px;
    background-color: var(--elbow-connector-point-bg-color);
}
.elbow-connector .point-shape.point-shape-square{
    display: block;
    border-radius: 0;
    background-color: var(--elbow-connector-point-bg-color);
}
.elbow-connector .point-shape.point-shape-rhombus{
    display: block;
    border-radius: 0;
    transform: rotate(45deg);
    background-color: var(--elbow-connector-point-bg-color);
}
.elbow-connector .point-shape.point-shape-text{
    display: flex;
    color: var(--elbow-connector-point-bg-color);
    font-size: var(--elbow-connector-point-diameter);
    justify-content: center;
    align-items: center;
}
.elbow-connector .point-shape.point-shape-text::before{
    content:attr(data-point-shape-text);
}





/* knob */ 
.elbow-connector[data-ec-from-knob]{
    margin:calc( -1 * var(--elbow-connector-border-width) / 2);
}