@charset "utf-8";

:root{
    --elbow-connector-border-width:2px;
    --elbow-connector-border-style:solid;
    --elbow-connector-border-color:red;

    --elbow-connector-point-diameter:10px;
    --elbow-connector-point-bg-color:red;
}
.elbow-connector-container{
    position: absolute;
    top:0;height:0;
    width:0;height:0;
    overflow: visible;
}
.elbow-connector-container[data-postion="relative"]{

}
.elbow-connector-container[data-postion="absolute"]{

}
.elbow-connector-container[data-postion="fixed"]{

}
.elbow-connector{
    

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;

    position: relative;

    --before-border-width: 0 0 0 0;
    --after-border-width: 0 0 0 0;
    --before-flex-basis:50%;

    --ec-top:auto;
    --ec-left:auto;
    --ec-bottom:auto;
    --ec-right:auto;
    --ec-width:auto;
    --ec-height:auto;

    --elbow-connector-border:var(--elbow-connector-border-width) var(--elbow-connector-border-style) var(--elbow-connector-border-color);
}
.elbow-connector[data-ec-from]{
    position: absolute;
    top:var(--ec-top);
    left:var(--ec-left);
    bottom:var(--ec-bottom);
    right:var(--ec-right);
    width:auto;height:auto;
}
.elbow-connector[data-ec-direction="row"]{ flex-direction: row; }
.elbow-connector[data-ec-direction="column"]{ flex-direction: column; }

.elbow-connector::before,
.elbow-connector::after{
    content: 'x';
    display: block;
    flex:1 1 50%;
    border: var(--elbow-connector-border);
    overflow: hidden;
}
.elbow-connector::before{
    content: "";
    flex:1 0 var(--before-flex-basis);
    border-width:var(--before-border-width);
}
.elbow-connector::after{
    content: "";
    flex:0 1 100%; 
    border-width:var(--after-border-width);
}

.debug{
    & .elbow-connector{
        outline: 1px dotted #999;
    }
    & .elbow-connector::before{
        content: attr(data-ec-vertexes);
        background-color: #aabbcc66;
    }
    & .elbow-connector::after{
        content: attr(data-ec-vertexes);
        background-color: #ccbbaa66;
    }
} 



/* line */

.elbow-connector[data-ec-direction="row"][data-ec-vertexes="0 2"]::before,
.elbow-connector[data-ec-direction="row"][data-ec-vertexes="2 0"]::before{
    --before-border-width:var(--elbow-connector-border-width) var(--elbow-connector-border-width) 0 0 ;
}

.elbow-connector[data-ec-direction="row"][data-ec-vertexes="0 2"]::after,
.elbow-connector[data-ec-direction="row"][data-ec-vertexes="2 0"]::after{
    --after-border-width:0 0 var(--elbow-connector-border-width) 0;
}


.elbow-connector[data-ec-direction="row"][data-ec-vertexes="1 3"]::before,
.elbow-connector[data-ec-direction="row"][data-ec-vertexes="3 1"]::before{
    --before-border-width:0 var(--elbow-connector-border-width) var(--elbow-connector-border-width) 0 ;
}

.elbow-connector[data-ec-direction="row"][data-ec-vertexes="1 3"]::after,
.elbow-connector[data-ec-direction="row"][data-ec-vertexes="3 1"]::after{
    --after-border-width:var(--elbow-connector-border-width) 0 0 0;
}


.elbow-connector[data-ec-direction="column"][data-ec-vertexes="0 2"]::before,
.elbow-connector[data-ec-direction="column"][data-ec-vertexes="2 0"]::before{
    --before-border-width:0 0 var(--elbow-connector-border-width) var(--elbow-connector-border-width);
}

.elbow-connector[data-ec-direction="column"][data-ec-vertexes="0 2"]::after,
.elbow-connector[data-ec-direction="column"][data-ec-vertexes="2 0"]::after{
    --after-border-width:0 var(--elbow-connector-border-width) 0 0;
}


.elbow-connector[data-ec-direction="column"][data-ec-vertexes="1 3"]::before,
.elbow-connector[data-ec-direction="column"][data-ec-vertexes="3 1"]::before{
    --before-border-width:0 var(--elbow-connector-border-width) var(--elbow-connector-border-width) 0 ;
}

.elbow-connector[data-ec-direction="column"][data-ec-vertexes="1 3"]::after,
.elbow-connector[data-ec-direction="column"][data-ec-vertexes="3 1"]::after{
    --after-border-width:0 0 0 var(--elbow-connector-border-width);
}




/* points */
.elbow-connector > .points{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    --points-gap:calc( var(--elbow-connector-point-diameter) / 2 );
    --points-gap2:calc( (var(--elbow-connector-point-diameter) - var(--elbow-connector-border-width)) / 2 );
}
.elbow-connector[data-ec-direction="row"] > .points{
    --tanslate-top:calc(-1 * var(--points-gap2));
    --tanslate-left:calc(-1 * var(--points-gap));
    --tanslate-bottom:var(--points-gap2);
    --tanslate-right:var(--points-gap);
}
.elbow-connector[data-ec-direction="column"] > .points{
    --tanslate-top:calc(-1 * var(--points-gap));
    --tanslate-left:calc(-1 * var(--points-gap2));
    --tanslate-bottom:var(--points-gap);
    --tanslate-right:var(--points-gap2);
}

.elbow-connector > .points::before,
.elbow-connector > .points::after{

    /* --elbow-connector-point-diameter:10px;
    --elbow-connector-point-bg-color:blue; */

    content: none;
    width:var(--elbow-connector-point-diameter);
    height:var(--elbow-connector-point-diameter);
    display: none;;
    position: absolute;
}
.elbow-connector > .points.points-default::before,
.elbow-connector > .points.points-default::after{
    display: block;
    border-radius: 99999px;
    background-color: var(--elbow-connector-point-bg-color);
}
.elbow-connector > .points.points-default::after{
    border-radius: 0;
}


.elbow-connector[data-ec-vertexes^="0"] > .points::before ,
.elbow-connector[data-ec-vertexes$="0"] > .points::after
{ content: ""; left:0;top:0; transform:translate(var(--tanslate-left) , var(--tanslate-top)); }

.elbow-connector[data-ec-vertexes^="1"] > .points::before ,
.elbow-connector[data-ec-vertexes$="1"] > .points::after
{ content: ""; right:0;top:0; transform:translate(var(--tanslate-right) , var(--tanslate-top)); }


.elbow-connector[data-ec-vertexes^="2"] > .points::before ,
.elbow-connector[data-ec-vertexes$="2"] > .points::after
{ content: ""; right:0;bottom:0; transform:translate(var(--tanslate-right), var(--tanslate-bottom)); }


.elbow-connector[data-ec-vertexes^="3"] > .points::before ,
.elbow-connector[data-ec-vertexes$="3"] > .points::after
{ content: ""; left:0;bottom:0; transform:translate(var(--tanslate-left), var(--tanslate-bottom)); }



/* knob */ 
.elbow-connector[data-ec-from-knob]{
    margin:calc( -1 * var(--elbow-connector-border-width) / 2);
}